<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="logo">Library</div>
        <nav>
            <ul>
                <li class="item"><a href="{{ url_for('index') }}">Home</a></li>
                <li class="item"><a href="{{ url_for('books') }}">Books</a></li>
                <li class="item"><a href="{{ url_for('authors') }}">Authors</a></li>
                <li class="item"><a href="#">Articles</a></li>
                <li class="item"><a href="#">Contact Us</a></li>
            </ul>
        </nav>
        <a href="#" class="button">Subscribe Newsletter</a>
    </header>
    <main>
        <h1>Authors</h1>
        <ul>
            {% for author, book in authors_books %}
                <li>{{ author }} wrote {{ book }}</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>