<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="logo">Library</div>
        <nav>
            <ul>
                <li class="item"><a href="{{ url_for('index') }}">Home</a></li>
                <li class="item"><a href="{{ url_for('books') }}">Books</a></li>
                <li class="item"><a href="{{ url_for('authors') }}">Authors</a></li>
                <li class="item"><a href="#">Articles</a></li>
                <li class="item"><a href="#">Contact Us</a></li>
            </ul>
        </nav>
        <a href="#" class="button">Subscribe Newsletter</a>
    </header>
    <main>
        <h1>Books</h1>
        <ul>
            {% for book in books %}
                <li>
                    <strong>Title:</strong> {{ book['title'] }}<br>
                    <strong>ISBN:</strong> {{ book['isbn'] }}<br>
                    <strong>Publication Date:</strong> {{ book['publication_date'] }}<br>
                    <strong>Copies Available:</strong> {{ book['copies_available'] }}<br>
                    <div class="btn-container">
                        <button class="btn btn-update" onclick="location.href='{{ url_for('update_book', book_id=book['_id']) }}'">Update</button>
                        <form action="{{ url_for('delete_book', book_id=book['_id']) }}" method="post" style="display:inline;">
                            <button class="btn btn-delete">Delete</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>