<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrowers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li class="item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="item"><a href="{{ url_for('books') }}">Books</a></li>
            <li class="item"><a href="{{ url_for('authors') }}">Authors</a></li>
            <li class="item"><a href="{{ url_for('loans') }}">Prets</a></li>
            <li class="item"><a href="{{ url_for('borrowers') }}">Adherents</a></li>
        </ul>
    </nav>
    <h1>Borrowers</h1>
    <ul>
        {% for loan in loans %}
            <li><strong>Borrower:</strong> {{ loan.borrower_name }}</li>
        {% endfor %}
    </ul>
</body>
</html>
