<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="logo">Library</div>
        <nav>
            <ul>
                <li class="item"><a href="{{ url_for('books') }}">Books</a></li>
                <li class="item"><a href="{{ url_for('authors') }}">Authors</a></li>
                <li class="item"><a href="#">Articles</a></li>
                <li class="item"><a href="#">Contact Us</a></li>
            </ul>
        </nav>
        <a href="#" class="button">Subscribe Newsletter</a>
    </header>
    <main>
        <h1>Welcome to the Library Management System</h1>
        <img src="{{ url_for('static', filename='pic_lib.jpg') }}" alt="Library Image">
        <div class="actions">
            <a href="{{ url_for('add_book') }}" class="button">Add Book</a>
            <a href="{{ url_for('books') }}" class="button">View Books</a>
            <a href="{{ url_for('authors') }}" class="button">View Authors</a>
        </div>
    </main>
</body>
</html>
