<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="logo">Library</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('books') }}">Books</a></li>
                <li><a href="{{ url_for('authors') }}">Authors</a></li>
            </ul>
        </nav>
        <a href="#" class="button">Subscribe Newsletter</a>
    </header>
    <main>
        <h1>Authors</h1>
        <div class="actions">
            <a href="{{ url_for('add_author') }}" class="button">Add Author</a>
        </div>
        <ul>
            {% for author in authors %}
                <li class="item">{{ author['name'] }}
                    <a href="{{ url_for('update_author', author_id=author['_id']) }}">Update</a>
                    <a href="{{ url_for('delete_author', author_id=author['_id']) }}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>