body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-image: url('pic_lib.jpg'); /* Path to your background image */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-size: cover; /* Scale the background image to be as large as possible so that the background area is completely covered by the background image */
}


header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main {
    padding: 40px 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.button {
    background-color: #ff5733;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.button:hover {
    background-color: #c70039;
}

main {
    padding: 40px 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* optional, to make text more readable */
}

.actions {
    margin-top: 20px;
}

.actions .button {
    margin: 0 10px;
}



h1 {
    text-align: center;
    margin-bottom: 20px;
    color:#ff5733 ;
    margin-bottom: 20%;
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: start;
}

.book-item {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    width: 100%;
    max-width: 200px;
}

.book-item:hover {
    transform: translateY(-5px);
}

.book-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.book-item p {
    margin: 5px 0;
}

.book-item .title {
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-update {
    background-color: #4CAF50;
    color: white;
}

.btn-update:hover {
    background-color: #45a049;
}

.btn-delete {
    background-color: #f44336;
    color: white;
}

.btn-delete:hover {
    background-color: #e53935;
}